.bannersection {
    height: fit-content;
    background-color: #0e1f3a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannersection-img {
  width: 30%;
  height: auto;
}

@media (max-width: 1400px) {
  .bannersection-img {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .bannersection-img {
    width: 80%;
  }
}