.bannersection {
    height: fit-content;
    background-color: #0e1f3a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannersection-img {
  width: 20%;
  height: auto;
  margin-bottom: -58px;
  z-index: 10;
}

@media (max-width: 1400px) {
  .bannersection-img {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .bannersection-img {
    margin-bottom: -55px;
  }
}

@media (max-width: 600px) {
  .bannersection-img {
    width: 80%;
  }
}