.af-section {
  background-color: #162741;
  height: 780px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;
  text-align: center;
  font-family: Rubik, 'sans-serif';
}

.af-container {
  width: 1400px;
}

#af-h3 {
  font-family: Franchise, 'sans-serif';
  color: #ffffff;
  font-size: 56px;
}

#af-p {
  font-size: 22px;
  color: #cfcfcf;
  font-weight: 300;

}

.af-featuresgrid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px 40px;
}

.af-griditem {
  color: #ffffff;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.af-griditem-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.af-icon {
  font-size: 48px;
}

.af-gridh5 {
  font-size: 26px;
  text-align: left;
  width: 75%;
  margin-left: 30px;
}

.af-gridp {
  line-height: 34px;
  font-weight: 300;
  font-size: 20px;
  color: #cfcfcf;
  text-align: left;
  padding: 0 20px;
}

@media (max-width: 1400px) {
  .af-section {
    height: fit-content;
  }

  .af-container {
    width: 1000px;
  }

  .af-featuresgrid {
    margin-top: 50px;
  }

  .af-gridh5 {
    font-size: 18px;
  }

  .af-gridp {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {

  .af-container {
    width: 600px;
  }

  .af-featuresgrid {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #af-h3 {
    font-size: 44px;
  }
}

@media (max-width: 600px) {
  .af-container {
    width: 400px;
  }

  .af-featuresgrid {
    grid-template-columns: 1fr;
  }

  .af-griditem-container {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .af-gridh5 {
    text-align: center;
    margin: 20px 0 0 0;
  }

  .af-gridp {
    padding: 0;
  }
}