.securitysection {
  height: fit-content;
  background-color: #0e1f3a;
  color: #ffffff;
  padding: 60px 0;
  text-align: center;
  font-family: Rubik, 'sans-serif';
}

.security-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1400px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.security-icon {
  font-size: 48px;
}

.security-h5 {
  font-family: Franchise, 'sans-serif';
  font-size: 56px;
  margin-top: 20px;
}

.security-p {
  font-size: 22px;
  font-weight: 300;
  line-height: 44px;
  margin-top: 20px;
}

.security-btn {
  text-transform: uppercase;
  padding: 20px 0;
  color: #1B5F72;
  font-weight: 600;
  font-family: Rubik, 'sans-serif';
  border: #ffffff 1px solid;
  background-color: #ffffff;
  width: 300px;
  border-radius: 50px;
  margin-top: 40px;
}

@media (max-width: 1400px) {
  .security-container {
    width: 1000px;
  }
}

@media (max-width: 1000px) {
  .security-h5 {
    font-size: 44px;
  }

  .security-p {
    font-size: 16px;
  }

  .security-container {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .security-container {
    width: 400px;
    padding: 0 20px;
  }
}