.hawaiisection {
  height: fit-content;
  background-color: #0E1F3A;
  color: #ffffff;
  padding-bottom: 60px;
}

.hawaii-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
  margin: 0 auto;
}

.hawaii-img {
  width: 100%;
  height: 1000px;
  background: url('../assets/hawaii.png');
  background-size: cover;
  background-position: center;
}

.hawaii-h3 {
  font-size: 56px;
  font-family: Franchise, 'sans-serif';
  margin-top: 30px;
}

.hawaii-btn {
  text-transform: uppercase;
  padding: 20px 0;
  color: #ffffff;
  font-weight: 600;
  font-family: Rubik, 'sans-serif';
  border: #ffffff 1px solid;
  width: 300px;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hawaii-p {
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}

@media (max-width: 1400px) {
  .hawaii-container {
    width: 1000px;
  }
}

@media (max-width: 1000px) {
  .hawaii-img {
    height: 600px;
  }

  .hawaii-container {
    width: 600px;
  }

  .hawaii-h3 {
    font-size: 44px;
  }

  .hawaii-p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .hawaii-container {
    width: 400px;
  }
}