.presaleform {
  background-color: #ffffff;
  width: 80%;
  border-radius: 15px;
  height: 600px;
  text-align: center;
  font-family: Rubik, 'sans-serif';
}

#earlybirdround {
  padding-top: 20px;
  font-size: 56px;
  letter-spacing: 1.5px;
  font-family: Franchise, 'sans-serif';
  color: #000000;
}

#priceoutof1 {
  color: #888888
}

#fr-disclaimer {
  color: red;
  font-weight: bold;
  font-size: 12px;
}

.presaleform__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 95%;
  position: relative;
}

.presaleform__form-pwrapper {
  width: 100%;
}

.presaleform__bar {
  width: 70%;
  height: 25px;
  border-radius: 50px;
  border: #185FCC 1px solid;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.presaleform__bar-progress {
  display: block;
  height: 100%;
  border-radius: 50px;
  background-color: #185FCC;
  position: relative;
}

.presaleform__bar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.presaleform__fullinput {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.presaleform__input {
  padding: 15px 20px;
  width: 100%;
  border-radius: 50px;
  border: #185FCC 1px solid !important;
  z-index: 10;
  border: none;
}

.presaleform__label {
  font-family: Rubik, 'sans-serif';
  font-weight: bold;
  font-size: 18px;
  width: 30%;
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.presaleform__p-bold {
  font-weight: bold;
}

.presaleform__buynowbtn {
  width: 60%;
  background-color: #185FCC !important;
  border-radius: 50px;
  color: #ffffff;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Rubik, 'sans-serif';
  border: #ffffff 2px solid;
  transition: 0.1s ease-in-out;
}

.presaleform__buynowbtn:hover {
  background-color: transparent !important;
  border: #185fcc 2px solid;
  color: #185fcc;
  transition: 0.1s ease-in-out;
}

@media (max-width: 1400px) {
  .presaleform {
    width: 90%;
  }

  .presaleform__fullinput {
    width: 90%;
  }
}

@media (max-width: 600px) {
  #earlybirdround {
    font-size: 36px;
  }

  #priceoutof1 {
    font-size: 12px;
  }

  .presaleform__bar {
    font-size: 8px;
  }
}