.ccs {
  height: fit-content;
  background-color: #0e1f3a;
  color: #ffffff;
  padding: 60px 0;
  font-family: Rubik, 'sans-serif';
}

.ccs-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 1400px;
}

.ccs-h3 {
  font-family: Franchise, 'sans-serif';
  font-size: 56px;
}

.ccs-colors {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  margin-top: 60px;
}

.ccs-coloritem {
  width: 17%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ccs-p {
  font-size: 20px;
  margin-top: 30px;
}

.ccs-circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#redcircle {
  background-color: #B41717;
}

#orangecircle {
  background-color: #FB9924;
}

#yellowcircle {
  background-color: #EBEF33;
}

#greencircle {
  background-color: #139337;
}

#bluecircle {
  background-color: #6AA6FC;
}

@media (max-width: 1400px) {
  .ccs-container {
    width: 1000px;
  }

  .ccs-circle {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 1000px) {
  .ccs-container {
    width: 600px;
    align-items: center;
  }

  .ccs-h3 {
    font-size: 44px;
  }

  .ccs-p {
    font-size: 16px;
    margin-top: 20px;
  }

  .ccs-colors {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .ccs-circle {
    height: 120px;
    width: 120px;
  }

  .ccs-coloritem {
    margin-bottom: 40px;
    width: 100%;
  }

  .ccs-coloritem5 {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .ccs-container {
    width: 400px;
    padding: 0 20px;
  }
}